@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../public/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;

}